{% extends 'base.html' %}
{% block title %}
Reset Password
{% endblock title %}

{% block firstSection %}
{% load socialaccount %}
<br>
<br>
<br>
<div class="row">


<div class="col-md-4"></div>
<div class="col-md-4">



<div class="card p-3 mt-6">

    <div class="card-body">


      {% include 'messages.html' %}
        

  <h3 class="text-dark text-center">Request Reset Password</h3>

  <hr/>

  <form action="/request-reset-email/" method="post">{% csrf_token %}
    <br />

    <label for="email">Email</label>
    <div class="form-group">
      <input
        type="email"
        class="form-control p-2 mb-3"
        id="email"
        name="email"
        placeholder="Enter email"
        required
      />
    </div>
   
    
   
    <br />
    <div class="d-grid gap-2 mb-3">
    <button type="submit" class="btn btn-success get-started-btn">reset</button>
</div>   
    <br />
    Back to <a href="/login">Login</a>
    <br />
  </form>
</div>




    </div>

</div>







</div>
<div class="col-md-4"></div>



</div>









{% endblock firstSection %}
