{% extends 'base.html' %}
{% block title %}
Signin
{% endblock title %}

{% block firstSection %}
{% load socialaccount %}
<br>
<br>
<br>
<div class="row">


<div class="col-md-4"></div>
<div class="col-md-4">



<div class="card p-3 mt-6">

    <div class="card-body">


      {% include 'messages.html' %}
        

  <h3 class="text-dark text-center">SignIn</h3>

  <hr/>
  <a  href="{% provider_login_url 'google' %}" class="alert-link text-center bg-light">Clike Here</a>Login with <i class="fa-brands fa-google"></i>
<hr>
  <form action="/signin" method="post">{% csrf_token %}
    <br />
<p class="text-center text-dark bg-light"> Or</p>
    <label for="email">Name</label>
    <div class="form-group">
      <input
        type="text"
        class="form-control p-2 mb-3"
        id="name"
        name="name"
        placeholder="Enter name"
        required
      />
    </div>
    <label for="email">Email</label>
    <div class="form-group">
      <input
        type="email"
        class="form-control p-2 mb-3"
        id="email"
        name="email"
        placeholder="Enter email"
        required
      />
    </div>
    <label for="pass1">Password </label>
    <div class="form-group">
      
      <input
        type="password"
        class="form-control p-2 mb-3"
        id="pass1"
        name="pass1"
        placeholder="Password must be atleast 8 characters"
        required
        
      />
      <input type="checkbox"  onclick="showPassword()"><span id="sp">Show Password</span><i class="fa-solid fa-eye"></i>
      <br>
     
      <small>Password must include atleast [1-9][a-z][A-z][_$@]</small>
    </div>
    <br/>
    <label for="pass2">Confirm Password</label>
    <div class="form-group">
      <input
        type="password"
        class="form-control p-2 mb-3"
        id="pass2"
        name="pass2"
        placeholder="Confirm Password"
        required
      />
    </div>
    <br />
    <div class="d-grid gap-2 mb-3">
    <button type="submit" class="btn btn-success get-started-btn">SignIn</button>
</div>   
    <br />
    Already User? <a href="/login">Login</a>
    <br />
  </form>
</div>




    </div>

</div>







</div>
<div class="col-md-4"></div>



</div>









{% endblock firstSection %}
{% block Scripts %}
<script>
function showPassword(){
  var x = document.getElementById("pass1");
  var z = document.getElementById("pass2");
  var y = document.getElementById("sp");
  if (x.type === "password" && z.type==="password") {
    x.type = "text";
    z.type="text";
    y.innerText="Hide Password";
  } else {
    x.type = "password";
    z.type="password";
    y.innerText="Show Password";
  }
}
</script>
{% endblock Scripts %}